---
import { ViewTransitions } from 'astro:transitions'
import '../styles/global.css'
/*import '../styles/bootstrap.min.css'
import '../styles/font-awesome.min.css'
import '../styles/animations.min.css'
import '../styles/lightbox.min.css'
import '../styles/modal-video.min.css'
import '../styles/style.css'*/

export interface Props {
  title: string
  description: string
  permalink: string
}

const { title, description, permalink } = Astro.props

const socialUrl = Astro.site.href + 'assets/images/bytecraft.png'
const bootstrapUrl = 'assets/particles/css/bootstrap.min.css'
const fontAwesomeUrl = 'assets/particles/css/font-awesome.min.css'
const animationsUrl = 'assets/particles/css/animations.css'
const lightboxUrl = 'assets/particles/css/lightbox.min.css'
const videoUrl = 'assets/particles/css/modal-video.min.css'
const styleUrl = 'assets/particles/css/style.css'
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={socialUrl} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={socialUrl} />

<!-- STYLES -->
<!-- Bootstrap -->
<link href={bootstrapUrl} rel="stylesheet">
<!-- FontAwesome -->
<link href={fontAwesomeUrl} rel="stylesheet">
<!-- Animations -->
<link href={animationsUrl} rel="stylesheet">
<!-- Lightbox -->
<link href={lightboxUrl} rel="stylesheet">
<!-- Video Lightbox -->
<link href={videoUrl} rel="stylesheet">
<!-- Main Stylesheet -->
<link href={styleUrl} rel="stylesheet">

<ViewTransitions />

<!-- This is intentionally inlined to avoid FOUC -->
<script is:inline>
  const root = document.documentElement
  const theme = localStorage.getItem('theme')
  if (
    theme === 'dark' ||
    (!theme && window.matchMedia('(prefers-color-scheme: dark)').matches)
  ) {
    root.classList.add('theme-dark')
  } else {
    root.classList.remove('theme-dark')
  }
</script>
